nav{  
    text-align: center;
    
}

nav ul{
    color: white;
    display: inline-block;
    background-color: rgba(96, 96, 96,0.6);
    /* width: 100%; */

}
.container{
   display: table;
   border-spacing: 10px;
   
}
form{
    display: table-cell;
    background-color: rgba(96, 96, 96,0.6);
    width: 30%;
    border-radius: 4px;
    margin-left: 15px;
}

article{
    width: 30%;  
    background-color:  rgba(96, 96, 96,0.6);
    display: table-cell;
}

footer{
    background-color: rgba(96, 96, 96,0.6);
    width: 100%;
    text-align: center;
    color: white;
}